@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600);
#main-header {
	background: url('../../../images/core/bg.jpg');
	padding: 5px 15px;
	vertical-align: middle;
}

#ipt-username, #ipt-password {
	width: 175px;
}

#signin-inputgroup .input-group-floatleft {
	margin-left: 4px;
	float: left
}

#signin-inputgroup .input-group-floatleft span.input-group-addon {
	display: block;
	padding: 8px 12px;
	float: left;
	width: 39px;
}

#logo {
  display: table-cell;
  background-color: #fff;
  padding: 5px 14px;
  float: left;
  
  border-radius: 10px;
  box-shadow: 0 0 5px #888888;
}

#signin-body {
  padding: 5px 15px;
  background-color: #e9eaf3;
  height: 450px;
  margin-top: 10px;
}


h1 {
  font-family: "Titillium Web";
  font-size: 4em;
}
